body{
    text-align: center;
}
.box{
    width: 18rem;
    height: 18rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 7px solid #000;
}
.container{
    display: flex;
    justify-content: center;
}
#b1{
    background-color: #C5D89D;
}
#b2{
    background-color: #4B9DA9;
}
#b3{
    background-color: #ED985F;
}
#b4{
    background-color: #FFF57E;
}
.flash{
    background-color: #fff !important;
    transform: scale(1.02);
}
.userflash{
    background-color: #0ae01c !important;
    transform: scale(1.02);
}
#high-score{
    font-weight: bold;
    margin-top: 5px;
}